{% extends "learning_logs/base.html" %}
{% block page_header %}
<h3>Topic: {{topic}}</h3>
{% endblock page_header %}

{% block content %}
<h3>Entries:</h3>
{% if user.is_authenticated %}
{% if can_edit %}
<p><a href="{% url 'learning_logs:new_entry' topic.id %}">Add new entry</a></p>
{% endif %}
{% endif %}
<br>

    {% for entry in entries %}
    <div class="card mb-3">
        {% if user.is_authenticated %}
        {% if can_edit %}
        <h4 class="card-header">Added on {{entry.date_added|date:"M j, Y H:i"}} <small><a href="{% url 'learning_logs:edit_entry' entry.id%}">edit entry</a></small></h4>
        <div class="card-body">{{entry.text}}</div>
        
        {% else %}
        <h4 class="card-header">Added on {{entry.date_added|date:"M j, Y H:i"}}</h4>
        <div class="card-body">{{entry.text}}</div>
        {% endif %}
        {% else %}
        <h4 class="card-header">Added on {{entry.date_added|date:"M j, Y H:i"}}</h4>
        <div class="card-body">{{entry.text}}</div>
        {% endif %}
    </div>

    {% empty %}
    <p>Nothing has been added yet!</p>
    {% endfor %}


{% endblock content %}